.geo-portraits {
	background: url('../img/2.gif');
	background-repeat: no-repeat;
	position: relative;
	height: 400px;
}

.caption {
	margin-left: 1em;
}

.main-text {
	margin-top: 20em;
}

.col-sm-push-1 p {
    margin-top: -1em;
}

h6 {
	line-height: 2;
}

.col-sm-push-1 ul {
	list-style: none;
	display: table;
}

.container-main {
	height: 4100px;
}

.video-wrapper {
	font-family: 'Lato', sans-serif;
	font-style: italic;
	width: 70%;
	margin-top:17em;
}

.card-deck p {
	font-family: 'Lato', sans-serif;
	font-style: italic;
	width: 70%;
	margin-top:14em;
}

.card-deck img {
	height: 43em;
}

.card-deck-secondrow {
	display: flex;
	width: 98%;
}

.card {
	margin-left: 1em;
}


@media only screen and (max-width: 768px) {
	.caption {
	margin-left: 3em;
	}

	.caption h5 {
		font-size: 1.5em;
	}

	.caption h1 {
		font-size: 4em;
	}

	.main-text {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}

	iframe {
		width: 650px;
		height: 370px;
	}

	.card-deck img {
	height: 29em;
   }

   .container-main {
   	height: 3700px;
   }

   .nextpage {
    margin-top: 7em;
   }

   .video-wrapper p {
   	margin-left: 1em;
   }

   .video-wrapper {
   	margin-top: 11em;
   }

   .card iframe {
   	width: 320px;
   	height: 240px;
   }

   .card-deck p {
   	margin-top: 10em;
   	margin-left: 1em;
   }
}

@media only screen and (max-width: 480px) {
    #logo {
  width: 31px;
  }

  .card-deck img {
	height: 19em;
   }

   .card-deck-secondrow img {
     height: 100%;
   }

   .big-img {
   	margin-bottom: 4em;
   }

   iframe {
		width: 390px;
		height: 240px;
	}

	.main-text {
		margin-top: 10em;
	}

	.container-main {
   	height: 3500px;
   }

   .caption h5 {
		font-size: 1em;
	}

	.caption h1 {
		font-size: 2em;
	}

	#geo-portraits {
		height: 320px;
	}

	.navbar-toggler {
		top: 7em;
	}

}
























