.geo-portraits {
	background: url('../img/28.jpg');
	background-repeat: no-repeat;
	position: relative;
	height: 500px;
}

.caption {
	margin-left: 1em;
	padding-top: 4em;
}

.video-wrapper {
	margin-top: 21em;
	margin-left: auto;
	margin-right: auto;
}

.vertical {
	height: 40em;
	width: 60em;
	margin-top: 20em;
}

.horizontal {
	margin-top: 13em;
	width: 57em;
	margin-left: 3em;
}

.profile {
	height: 47em;
	margin-top:13em;
}

.container-main {
	height: 4200px;
}

.last {
	height: 13em;
	width: 19em;
}

.last img:hover {
	height: 62%;
	width: 68%;
}

@media only screen and (max-width: 768px) {
	.caption {
	margin-left: 7em;
   }

   #geo-portraits {
   margin-left: -3em;
   }

   .main-text {
   	width: 98%;
   }

   iframe {
   	width: 690px;
   	height: 360px;
   }

   .vertical {
	height: 28em;
	width: 45em;
	margin-top: 15em;
   }

   .horizontal {
	margin-top: 13em;
	width: 47em;
	height: 18em;
	margin-left: 0em;
  }

  .profile {
	height: 37em;
  }

  .container-main {
	height: 4000px;
  }

  .nextpage {
  	margin-top: 10em;
  }

  .last {
	height: 10em;
	width: 13em;
  }

  .last a {
  	top: 13%;
  }
}

@media only screen and (max-width: 480px) {
    	#logo {
		width: 30px;
	}

	.caption h5 {
		font-size: 1em;
	}

	.caption h1 {
		font-size: 3em;
	}

	#geo-portraits {
	background: url('../img/32.jpg');
    height: 300px;
	}

	.navbar-toggler {
		top: 7em;
	}

	iframe {
   	width: 470px;
   	height: 260px;
   }

   .video-wrapper {
   	margin-top: 5em;
   }

   .vertical {
	height: 20em;
	width: 30em;
	margin-top: 9em;
   }

   .horizontal {
	margin-top: 9em;
	width: 33em;
	height: 12em;
	margin-left: -1em;
  }

  .profile {
	height: 27em;
  }

  .last {
	height: 6em;
	width: 9em;
  }

  .container-main {
  	height: 3000px;
  }

}





































